@import "tailwindcss";

body {
  @apply m-0;
  font-family:
    "Cantarell",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer components {
  .btn-primary,
  .btn-dangerous,
  .btn-secondary,
  .btn-neutral {
    @apply border border-neutral-400 rounded-md outline-pink-500 focus:outline-2 focus:border-white hover:outline-2 hover:border-white px-2 py-1;
  }

  .btn-primary {
    @apply bg-neutral-900 text-neutral-200 disabled:text-neutral-200 disabled:bg-neutral-600;
  }

  .btn-secondary {
    @apply bg-neutral-50 disabled:text-neutral-700;
  }

  .btn-dangerous {
    @apply bg-red-400 text-neutral-800 font-bold border-white disabled:bg-red-200;
  }

  .btn-neutral {
    @apply disabled:text-neutral-700;
  }
}
